{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Management System</title>
  <link rel="stylesheet" href="{% static 'inventory_app/css/home.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
    .status-container {
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-weight: bold;
    }
    .status-circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .status-alive .status-circle {
      background-color: green;
    }
    .status-dead .status-circle {
      background-color: red;
    }
  </style>

  <script>
    function filterBySecondColumn() {{
      var filterText = document.getElementById('searchInput').value.toLowerCase(); // Convert to lowercase
      var table = document.getElementById('stock_table');
      var tr = table.getElementsByTagName('tr');
  
      for (var i = 0; i < tr.length; i++) {{
        var td = tr[i].getElementsByTagName('td')[1]; // Target the second column (index 1)
        if (td) {{
          var textValue = td.textContent.toLowerCase() || td.innerText.toLowerCase(); // Convert to lowercase
          if (filterText === "" || textValue.includes(filterText)) {{
            tr[i].style.display = "";
          }} else {{
            tr[i].style.display = "none";
          }}
        }} 
      }}
    }}
  </script>

<script>
  function filterByThirdColumn() {{
    var filterText = document.getElementById('searchInput2').value.toLowerCase(); // Convert to lowercase
    var table = document.getElementById('stock_table');
    var tr = table.getElementsByTagName('tr');

    for (var i = 0; i < tr.length; i++) {{
      var td = tr[i].getElementsByTagName('td')[2]; // Target the second column (index 1)
      if (td) {{
        var textValue = td.textContent.toLowerCase() || td.innerText.toLowerCase(); // Convert to lowercase
        if (filterText === "" || textValue.includes(filterText)) {{
          tr[i].style.display = "";
        }} else {{
          tr[i].style.display = "none";
        }}
      }} 
    }}
  }}
</script>

<script>
function checkServerStatus() {
      fetch('/server-status/')
        .then(response => response.json())
        .then(data => {
          var statusContainer = document.getElementById('statusContainer');
          if (data.status === 'alive') {
            statusContainer.classList.remove('status-dead');
            statusContainer.classList.add('status-alive');
            document.getElementById('statusText').textContent = 'Server is alive';
          } else {
            statusContainer.classList.remove('status-alive');
            statusContainer.classList.add('status-dead');
            document.getElementById('statusText').textContent = 'Server is not responding';
          }
        })
        .catch(error => {
          var statusContainer = document.getElementById('statusContainer');
          statusContainer.classList.remove('status-alive');
          statusContainer.classList.add('status-dead');
          document.getElementById('statusText').textContent = 'Server is not responding';
        });
    }

    setInterval(checkServerStatus, 5000); // Check every 5 seconds
</script>


</head>



<body>
  <div class="top-container">
    <h1>Inventory Management System</h1>

    <div id="statusContainer" class="status-container status-alive">
      <div class="status-circle"></div>
      <div id="statusText">Checking server status...</div>
    </div>

    <div class="button-container">
        <form action="/user" method="get">
            <button type="submit">Withdrawal</button>
        </form>
      <form action="/adminpage" method="get">
        <button type="submit">Stock Management</button>
    </form>
      <form action="/order" method="get">
        <button type="submit">Order</button>
    </form>
    <form action="/stockcheck" method="get">
      <button type="submit">Stock Check</button>
    </form>
    <form action="/track" method="get">
      <button type="submit">Track Withdrawal</button>
    </form>
    <form action="/analyse" method="get">
      <button type="submit">Analyse</button>
    </form>
    </div>
  </div>


  <div class="bottom-container">
    <div class="chart-container">
      <h2>Stock Alerts</h2>
    <canvas id="inventoryChart" width="200" height="50"></canvas>
    <br>
    <h2>Items Below Threshold by Location</h2>
    <canvas id="thresholdChart" width="200" height="50"></canvas>
  </div>


 


  <div class="table-container">
    <h2>Inventory Overview</h2>
    <input type="text" id="searchInput" onkeyup="filterBySecondColumn()" placeholder="Search by Item...">
    <input type="text" id="searchInput2" onkeyup="filterByThirdColumn()" placeholder="Search by Location...">

    <table id="stock_table" border="1">
            <thead>
              <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Location</th>
                <th>Supplier</th>
                <th>Available</th>
                <th>Qty. per Unit</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.item }}</td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.supplier }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.quantity_per_unit }}</td>
                        <td>{{ item.cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

    

      <script>
        var ctx = document.getElementById('inventoryChart').getContext('2d');
        var inventoryChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['On Order', 'Below Minimum', '5 More Than Minimum', 'Greater Than 5 More'],
                datasets: [{
                    label: '# of Items',
                    data: [
                        {{ items_on_order }},
                        {{ items_below_minimum }},
                        {{ items_5_more_than_minimum }},
                        {{ items_greater_than_5_more_than_minimum }}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

<script>
  var thresholdCtx = document.getElementById('thresholdChart').getContext('2d');
  var thresholdChart = new Chart(thresholdCtx, {
      type: 'bar',
      data: {
          labels: {{ locations|safe }},
          datasets: [{
              label: 'Items Below Threshold',
              data: {{ below_threshold_counts|safe }},
              backgroundColor: 'rgba(255, 159, 64, 0.2)',
              borderColor: 'rgba(255, 159, 64, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
    

</body>
</html>








